<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stroke Detection</title>
</head>

<body>
    {% extends 'header.html' %}

    {% block body %}
    <h1>Detect Early Signs of Potential Stroke</h1>
    <p>Fill out the information below, and discover if you are considered likely to experience a stroke in the near future.</p>
    <p>NOTE: This service is simply identifying individuals with similar health statuses to those who have experienced strokes. It is NOT predicting that you WILL have a Stroke. If you are identified as someone likely to experience a Stroke in the near future, it is recommended you reach out to a medical professional for further evaluation and/or preventative measures.</p>

    <form class="personal-health-form" enctype="multipart/form-data" action="/predict" method="post">
        <div class="health-info-field">
            <label for="age">Age</label>
            <input type="number" name="age" id="age" required>
        </div>
        <div class="health-info-field">
            <label for="sex">Sex</label>
            <select name="sex" id="sex" required>
                <option value="none" disabled hidden selected></option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="health-info-field">
            <label for="marital-status">Married</label>
            <input type="checkbox" name="marital-status" id="marital-status">
        </div>
        <div class="health-info-field">
            <label for="heart-disease">Heart Disease</label>
            <input type="checkbox" name="heart-disease" id="heart-disease">
        </div>
        <div class="health-info-field">
            <label for="hypertension">High Blood Pressure</label>
            <input type="checkbox" name="hypertension" id="hypertension">
        </div>
        <div class="health-info-field">
            <label for="work">Work Type</label>
            <select name="work" id="work" required>
                <option value="none" disabled hidden selected></option>
                <option value="Private">Private</option>
                <option value="Self-employed">Self-Employed</option>
                <option value="children">Children</option>
                <option value="Govt_job">Govt Employee</option>
                <option value="Never_worked">Never Worked</option>
            </select>
        </div>
        <div class="health-info-field">
            <label for="residence">Residence Type</label>
            <select name="residence" id="residence" required>
                <option value="none" disabled hidden selected></option>
                <option value="Urban">Urban</option>
                <option value="Rural">Rural</option>
            </select>
        </div>
        <div class="health-info-field">
            <label for="glucose">Average Glucose Level</label>
            <input type="number" name="glucose" id="glucose" placeholder="Optional">
        </div>
        <div class="health-info-field">
            <label for="bmi">BMI</label>
            <input type="number" name="bmi" id="bmi" placeholder="Optional">
        </div>
        <div class="health-info-field">
            <label for="smoking">Smoking Status</label>
            <select name="smoking" id="smoking">
                <option value="none" disabled hidden selected></option>
                <option value="Unknown">Unknown</option>
                <option value="never smoked">Never smoked</option>
                <option value="formerly smoked">Used to smoke</option>
                <option value="smokes">Currently smoke</option>
            </select>
        </div>
        <button type="submit">Submit</button>
    </form>
    {% endblock %}
</body>
</html>